* {
    padding: 0px;
    margin: 0px;
    user-select: none;
    box-sizing: border-box;
    color: #ffffff;
}

.menu {
    position: fixed;
    width: 250px;
    height: 100%;
    left: 0;
    background-color: black;
}

#nome {
    color: #ffffff;
    font-size: 25px;
    font-weight: 600;
    line-height: 120px;
    letter-spacing: 3px;
    text-align: center;
    background: #bbb3b3;
    border-radius: 0px 0px 80px 0px;
}

nav ul {
    background: rgb(0, 0, 0);
    height: 100%;
    width: 100%;
    list-style: none;
}

nav ul li {
    line-height: 60px;
    border-bottom: 3px solid #f0e8ea11;
}

nav ul li:last-child {
    border-bottom: 3px solid #cf6c85b4;
}

nav ul li a {
    position: relative;
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding-left: 50px;
    font-weight: 500;
    display: block;
    width: 100%;
    border-left: 3px solid transparent;
}

nav ul li.active a {
    color: #ff6f9d;
    background: rgba(255, 255, 255, 0.137);
    border-left-color: #ff6f9d;
}

nav ul ul {
    position: static;
    display: none;
}

nav ul .feat-show.show {
    display: block;
}

nav ul ul li {
    line-height: 40px;
    border-bottom: none;
}

nav ul ul li a {
    font-size: 16px;
    color: #bbb3b3;
    padding-left: 80px;
}

nav ul li.active ul li a {
    color: #ffffff;
    background: rgb(3, 3, 3);
    border-left-color: transparent;
}

nav ul ul li a:hover {
    color: #ff6f9d!important;
    background: rgba(255, 255, 255, 0.137)!important;
    border-left-color: #ff6f9d;
}

nav ul li a span {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 22px;
    transition: transform 0.4s;
}

nav ul li a:hover span.rotate {
    transform: translateY(-50%) rotate(-180deg);
}

img.icones {
    width: 30px;
    top: 10.4px;
    position: relative;
}

img.linkedin {
    width: 40px;
    top: 10.4px;
    position: relative;
}

#perfil {
    position: absolute;
    left: 50%;
    top: 1em;
}

img.photo {
    width: 10em;
    border-radius: 200px;
}

h1.mb-4 {
    position: absolute;
    left: 50%;
    top: 7em;
    color: #030303;
    text-align: center;
}

p.mb-4 {
    position: absolute;
    left: 30%;
    top: 19em;
    text-align: center;
    color: #030303;
}

footer {
    background: #bdbebd;
    width: 17%;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    font-size: 13px;
}